@model IList<CocktailsMagician.Areas.Cocktails.Models.CocktailIngredientsViewModel>


@foreach (var item in Model)
{
    <td>
        @Html.DisplayFor(modelItem => item.IngredientName),
    </td>  
}
