
@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>
        <b>
            <center>
                <img src="~/Images/404-error-page-not-found-miss-paper-with-white-vector-20577349.jpg" />    
            </center>
        </b>
    </h1>

